* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
primary-color{
    background:#f5f7fb ;
} 
secopndary-color{
    background:#1f2937 ;
}
third-color{
    background:#2563eb ;
}
text-color{
    color:#222 ;
}
body {
  font-family: Arial, sans-serif;
  background: #f5f7fb;
  color: #222;
}

a {
  text-decoration: none;
}

.app-layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  background: #1f2937;
  color: white;
  padding: 20px;
}

.logo {
  margin-bottom: 30px;
  font-size: 22px;
}

.sidebar-link {
  display: block;
  padding: 12px 14px;
  margin-bottom: 10px;
  border-radius: 8px;
  color: #d1d5db;
  transition: 0.2s;
}

.sidebar-link:hover {
  background: #374151;
  color: white;
}

.sidebar-link.active {
  background: #2563eb;
  color: white;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  background: white;
  padding: 20px;
  border-bottom: 1px solid #e5e7eb;
}

.page-content {
  padding: 24px;
}